* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: Arial, sans-serif; */
    }

    body {
      background:#ffffff;
      padding-top:120px;
    }

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }

    .left-box,.right-box {
      background:#f6f6f6;
      padding:25px;
      border-radius:8px;
    }

    .left-box {
      flex:1;
      max-height: 310px;
      min-width:280px;
      max-width: 350px;
      padding-top: 45px;
    }

    .right-box {
      flex:2;
      min-width:300px;
    }

    .item {
      display:flex;
      margin-bottom:25px;
      gap:15px;
    }

    .item:last-child {
      margin-bottom:0;
    }

    .item-icon {
      font-size:26px;
      color:#d43131;
    }

    .item-title {
      font-weight:bold;
      margin-bottom:3px;
    }

    /* Form style */
    
    .form-group {
      display:flex;
      flex-direction:column;
      margin-bottom:20px;
    }

    .form-group label {
      margin-bottom:5px;
      font-weight:bold;
    }

    .form-group input,.form-group textarea {
      padding:10px;
      border:1px solid #ccc;
      border-radius:5px;
      outline:none;
    }

    .form-group textarea {
      resize: vertical;
      min-height:120px;
    }

    .btn {
      background:#d43131;
      color:#fff;
      padding:12px 35px;
      border:none;
      border-radius:5px;
      cursor:pointer;
      font-size:17px;
    }

    .btn:hover {
      opacity:.85;
    }

    .section-title {
      font-size:28px;
      font-weight:700;
      margin:35px 0 15px;
    }

    .map-wrapper iframe {
      width:100%;
      height:400px;
      border:0;
    }